@model IEnumerable<StartCodingNowWebManager.Areas.USER.Models.ViewDonHang>

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/ADMIN/Views/Shared/_LayoutADD.cshtml";
}
<link href="~/Assets/USER/css/controller/x.css" rel="stylesheet" />
<h2>Details</h2>

<div class="container-fluid">
    @foreach (var item in Model)
    {
        <div class="cart-header">
            <div class="cart-sec simpleCart_shelfItem">
                <div class="cart-item cyc" style="width:200px ; float:left">
                    <img src="@Url.Content(item.Image)" class="img-responsive" alt="" />
                </div>
                <div class="cart-item-info" style="float:left">
                    <h3 style="margin-top:15px"><a href="chi-tiet-san-pham?id=@item.IDRobot" style="font-size:x-large;margin-top:25px">@item.Name</a></h3>
                    <span style="font-size:large"><strong style="padding-top:25px"> Mã sản phẩm :</strong> @item.IDRobot</span>
                    <br /><br />
                    <ul class="view_ct">

                        <li><p>Số lượng :@item.Number </li>
                        <li><p> Giá : @item.Price</p></li>
                    </ul>
                    <div class="delivery1" style="margin-top:20px">
                        <p>Thành Tiền : @(item.Price.GetValueOrDefault(0) * item.Number) </p>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    }
</div>
