@model IEnumerable<StartCodingNowWebManager.Areas.GIAOVIEN.Models.Class_model>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/GIAOVIEN/Views/Shared/_Layout.cshtml";
}

<h4 align="left" style="color:blue; padding-top:30px">
    <b>
        <a href="@Url.Action("Index","Login")">Giáo viên</a>/
        <a href="@Url.Action("Index","lophoc")">Danh sách lớp học</a>
    </b>
</h4><br />
<div class="row" style=" width:98%; height:auto; border:double">
    <div class="search_khoahoc" style="padding-top:20px; padding-left:70px">
        <h4 style="float:left; font-family:'Times New Roman'; margin-top:8px">Chọn loại khóa học</h4>
        @using (Html.BeginForm("Search", "lophoc", FormMethod.Post))
        {
                 @Html.DropDownList("search", null, new { @style = "width:200px; height:30px ; border:groove;  margin-left:20px" })
       
            <button type="submit" style="margin-left:20px">Tìm kiếm</button>
        }
    </div>

    <div style="padding-top:20px; height:500px;">
        <table id="table1" align="center" border="1" style="width:90%;  margin-bottom:20px">
            <thead>
                <tr class="table_th">
                    <th class="th">MÃ LỚP</th>
                    <th class="th">KHÓA HỌC</th>
                    <th class="th">TÊN LỚP</th>
                    <th class="th">NGÀY BẮT ĐẦU</th>
                    <th class="th">NGÀY KẾT THÚC</th>
                    <th class="th">SỐ LƯỢNG HV</th>
                    <th class="th">TÌNH TRẠNG</th>
                    <th class="th"> HOẠT ĐỘNG </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="table_th">
                        <td class="td">@item.IDClass</td>
                        <td class="td">@item.NameCourse</td>
                        <td class="td">@item.NameClass</td>
                        <td class="td">@item.StartDay.Value.ToShortDateString()</td>
                        <td class="td">@item.FinishDay.Value.ToShortDateString()</td>
                        <td class="td">@item.Number</td>
                        <td class="td">@item.State</td>
                        <td class="td">
                            <a href="@Url.Action("Xem_DShocvien","DShocvien",new { id = item.IDClass })">Xem DS học viên |</a>
                            <a href="@Url.Action("Xem_Diemdanh","Diemdanh",new { id = item.IDClass })">| Điểm danh</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />


