@model StartCodingNowWebManager.ApiCommunicationModels.HongHeoAPI.ArticleModel

@{
    ViewBag.Title = "ShowAr";
    Layout = "~/Areas/ADMIN/Views/Shared/_LayoutADD.cshtml";
}

<h4 align="left" style="color:blue; padding-top:30px">
    <b>
        <a href="@Url.Action("Index","Login" )"> <p style="text-align:center;font-size: 25px">Tin Tức </p></a>
        <a href="@Url.Action("Index","thongtin")"></a>

    </b>
</h4><br />
     <div class="row" style="     border: groove;
        width: 100%;
        height:100%;
        margin-left:5px;
">
         @Html.Raw(TempData["msg"])
         @using (Html.BeginForm("Update", "thongtin", FormMethod.Post, new { @class = "col-md-8", @style = "padding-top:30px", @onsubmit = "return matchin4()" }))
         {
             //<div class="col-md-8" style="padding-top:30px">

             <table align="right">
                 <tr style="height: 70px">
                     <td style="width:25%"><b style="margin-left:20px">ID_Article</b></td>
                     <td >@Html.TextBoxFor(Model => Model.IdArticle, new { @class = "dtoid", @type = "Text", @autofocus = "autofocus", @id = "id", @placeholder = "Nhập mã tin tức", @required = "", @readonly = "readonly" , @style = "padding-left : 5px" })</td>
                 </tr>
                 <tr style="height: 70px">
                     <td style="width:25%"><b style="margin-left:20px">Tiêu Đề:</b></td>
                     <td>@Html.TextBoxFor(Model => Model.Title, new { @class = "dtoid", @type = "Text", @autofocus = "autofocus", @id = "id", @placeholder = "Nhập tiêu đề tin túc", @size = "50px", @required = "" ,@style = "padding-left : 5px;width:100%" })</td>

                 </tr>
                 <tr style=" height:70px">
                     <td style="width:25%"><b style="margin-left:20px">Tóm Tắt:</b></td>
                     <td> @Html.TextBoxFor(Model => Model.Summary, new { @class = "dto", @type = "Text", @autofocus = "autofocus", @id = "email", @placeholder = "Nhập tóm tắt ", @size = "50px", @required = "", @style = "padding-left : 5px;width:100%" })</td>
                 </tr>
                 <tr style="height: 70px">
                     <td style="width:25%;"><b style="margin-left:20px">Nội Dung:</b></td>
                     <td>  @Html.TextBoxFor(Model => Model.Contents, new { @class = "dto", @type = "Text", @autofocus = "autofocus", @id = "phonegv", @placeholder = "Nội dung :....", @required = "", @size = "50px", @style = "padding-left : 5px ;width:100%" }) </td>
                 </tr>
                 <tr style="height: 70px">
                     <td style="width:25%;"><b style="margin-left:20px">Ảnh:</b></td>
                     <td> @Html.TextBoxFor(Model => Model.Image, new { @class = "dto", @type = "Text", @autofocus = "autofocus", @id = "tdgv", @placeholder = "Ảnh :", @size = "50px", @required = "", @style = "padding-left : 5px ;width:100%" })</td>
                 </tr>
             </table>
             <b> <input type="submit" name="btchange" value="Lưu" style="margin-left:60%; margin-bottom: 20px" /> &nbsp;</b>
         }
         <div>
         </div>


     </div>

