
@model IPagedList<StartCodingNowWebManager.FF.Course>

@using Sakura.AspNetCore;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/USER/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="product">
        <div class="container">
            @await Html.PartialAsync("~/Areas/USER/Views/Shared/_LeftMenu.cshtml")
            @*  @Html.Partial("~/Areas/USER/Views/Shared/_LeftMenu.cshtml")*@
            <div class="col-md-9 product1">
                @{
                    int i = 1;
                    foreach (var item in Model)
                    {
                        if (i == 1 || i % 3 == 0)
                        {
                            @Html.Raw("<div class='bottom-product'>");
                        }


                        <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                            <div class="product-at ">
                                <a href="/USER/KhoaHoc/ChiTiet/@item.Idcourse">
                                    <img class="img-responsive" src="@Url.Content(item.Image)" alt="">
                                    <div class="pro-grid">
                                        <span class="buy-in">Chi Tiết</span>
                                    </div>
                                </a>
                            </div>
                            <p class="tun">@item.Name</p>
                            <a href="#" class="item_add"><p class="number item_price"><i> </i>@item.Fee</p></a>
                        </div>

                        if (i % 3 == 0)
                        {
                            @Html.Raw("<div class='clearfix'> </div>");
                            WriteLiteral("</div>");
                        }
                        i++;
                    }
                }
            </div>
            <div class="clearfix"> </div>

            <pager source="Model" />

          
        </div>
    </div>
</body>
</html>
