@model IEnumerable<StartCodingNowWebManager.FF.Student>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/GIAOVIEN/Views/Shared/_Layout.cshtml";
}

<h4 align="left" style="color:blue; padding-top:30px"><b>
    <a href="@Url.Action("Index","Login")">Giáo viên</a>/
    <a href="@Url.Action("Index","lophoc")">Danh sách lớp học</a>/
    <a href="@Url.Action("Index","DShocvien")">Danh sách học viên</a>
</b></h4><br />

@using (Html.BeginForm("Searchlop", "DShocvien",FormMethod.Post))
{
    <div class="row" style=" width:100%; height:auto; border:double">
        <div class="search_khoahoc" style="padding-top:20px; padding-left:70px">
            <h4 style="float:left; font-family:'Times New Roman'; margin-top:8px">Chọn lớp học</h4>
            @Html.DropDownList("IDClass", null, new { @type = "text", @style = "width:150px; height:30px ; border:groove;  margin-left:20px" })
            @*<input type="text" style="width:200px; height:30px ; border:groove; border-color:black ; margin-left:20px" />*@
            <button type="submit" style="margin-left:20px">Tìm kiếm</button>
        </div>
        
        <div style="padding-top:20px">
            <table align="center" border="1" style="width:98% ; margin-bottom: 20px;">
                <tr class="table_th">
                    <th class="th">Mã học viên</th>
                    <th class="th">Tên HV</th>
                    <th class="th">Ngày sinh</th>
                    <th class="th">Phụ huynh</th>
                    <th class="th">Số điện thoại</th>
                    <th class="th">Địa chỉ</th>
                    <th class="th">Email</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr class="table_th">
                        <td class="td">@item.Idstudent</td>
                        <td class="td">@item.Name</td>
                        <td class="td">@item.Born</td>
                        <td class="td">@item.NameParent</td>
                        <td class="td">@item.Phone</td>
                        <td class="td">@item.Address</td>
                        <td class="td">@item.Email</td>
                    </tr>
                }

            </table>
        </div>

    </div>
}

