@model Sakura.AspNetCore.IPagedList<StartCodingNowWebManager.ApiCommunicationModels.ThanhDatAPI.OrdersModel>

@using Sakura.AspNetCore;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/USER/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="~/Assets/USER/css/controller/x.css" rel="stylesheet" />
<div class="container">
    <hr style="width:100%" />
    <div><p class="text-center text-capitalize" style="font:bold 36px arial,verdana">Xem Đơn Hàng</p> </div>
    <div class="container">
        <form action="Index">
            <div style="margin-left:400px; margin-bottom:50px">
                <input style="width:300px" class="search" name="timkiem" placeholder="Nhập Emmail" type="search" />

                <input style="margin-top:10px" type="submit" value="Tìm kiếm" />
            </div>
        </form>
    </div>
    @foreach (var item in Model)
    {
        <div class="cart-header" style="background-color:gainsboro">
            <div class="cart-sec simpleCart_shelfItem">
                <div class="cart-item-info">
                    <h3><a href="#"></a></h3>
                    <table width="850px">
                        <tr style="height:30px">
                            <td colspan="3"><span><b> Mã Hóa Đơn :</b> @item.Idorders</span></td>
                        </tr>
                        <tr style="height:30px">
                            <td><b>Tên KH :</b> @item.NameCustomer</td>
                            <td width="200px"><b>Số lượng SP :</b> @item.NumberProduct</td>
                            <td><b> Ngày :</b> @item.Date</td>
                        </tr>
                        <tr style="height:30px">
                            <td><p><b> Địa Chỉ :</b> @item.Address</p></td>
                            <td colspan="2"><p><b> Ghi Chú :</b> @item.Note</p></td>

                        </tr>
                        <tr style="height:30px">
                            <td>
                                <p> <b> Phương Thức Thanh Toán :</b> @item.Payment</p>
                            </td>
                            @if (item.Verify == true)
                            {
                                <td> Đã Xác Nhận Email  </td>}
                            else
                            {
                                <td> Chưa Xác Nhận Email  </td>
                            }
                            <td><a href="ViewDetail?id=@item.Idorders" class="xem_ct">Xem Chi Tiết</a></td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-3 cart-total">
                    <div style="margin-top:30px">
                        <span style="font-size:large; padding-left:30px"> <b>TOTAL : </b></span>
                        <span style="font-size:large; margin-left:5px">@item.PriceTotal</span>
                    </div>
                    <div class="clearfix"></div>
                    @{ if (item.State == 0)
                        {
                            <div class="tt_huy" style=" height:40px ;background-color:GrayText; text-align:center ;font-size:x-large"><strong style="color:aliceblue"> Hóa Đơn Đã Hủy</strong></div>
                        }
                        else if (item.State == 1)
                        {
                            <a href="Huy?id=@item.Idorders" class="order" style="width:200px ">Hủy</a>
                            <div class="tt">Chưa Giao</div>
                        }
                        else if (item.State == 2)
                        {
                            <div class="tt">Đang Giao</div>
                        }
                        else if (item.State == 3)
                        {
                            <div class="tt" style="background-color:green">Hoàn Thành</div>
                        }
                    }

                </div>
                <div class="clearfix"></div>
            </div>

        </div>

    }
    <pager source="Model" />
    @*<nav class="in">
        <ul class="pagination">
            @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))
        </ul>
    </nav>*@
</div>


